<my-topbar [title]="title"></my-topbar>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <my-sidebar></my-sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- content of page -->
                        <h1>This is an example of content</h1>
                        <p>My content will go here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
